<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead style="background-color: black; color: white">
            <tr>
              <th>Szakdolgozat címe</th>
              <th>Készítők neve</th>
              <th>GitHub link</th>
              <th>
                Szakdolgozat <br />
                elérhetősége
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>