<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead style="background-color: black; color: white">
          <tr>
            <th>Szakdolgozat címe</th>
            <th>Készítők neve</th>
            <th>GitHub link</th>
            <th>
              Szakdolgozat <br />
              elérhetősége
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of adatok">
            <td>{{ a.szakdoga_nev }}</td>
            <td>{{ a.tagokneve }}</td>
            <td><a href="*" style="color: red">{{ a.githublink }}</a></td>
            <td><a href="*" style="color: red">{{ a.oldallink }}</a></td>
            <td>
              <button (click)="onModositas(a)" class="btn btn-primary">
                Módosítás
              </button>
              <button class="btn btn-danger">Törlés</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--   form -->
<form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-md-12">
        <span>Szakdolgozat címe</span>
        <input
          required
          type="text"
          class="form-control"
          name="cimInput"
          [(ngModel)]="cim"
        />
      </div>
      <div class="col-md-12">
        <span>Készítők neve</span>
        <input
          required
          type="text"
          class="form-control"
          name="keszitokInput"
          [(ngModel)]="keszitok"
        />
      </div>
      <div class="col-md-12">
        <span>Az oldal elérhetősége</span>
        <input
          required
          type="text"
          class="form-control"
          name="elerhetosegInput"
          [(ngModel)]="elerhetoseg"
        />
      </div>
      <div class="col-md-12">
        <span>GitHub elérhetőség</span>
        <input
          required
          type="text"
          class="form-control"
          name="githubInput"
          [(ngModel)]="github"
        />
      </div>
      <div class="col-md-12">
        <br />
        <button
          [disabled]="!f.valid"
          *ngIf="!modositas"
          class="btn btn-primary"
          type="submit"
        >
          Új
        </button>
        <button
          [disabled]="!f.valid"
          *ngIf="modositas"
          class="btn btn-success"
          type="submit"
        >
          Módosítás
        </button>
        <button
          *ngIf="modositas"
          (click)="onMegse()"
          class="btn btn-danger"
          type="button"
        >
          Mégse
        </button>
      </div>
    </div>
  </div>
</form>
